<%- include("header") -%>

<section id="enq-sec">

    <%- include("nav") -%>
<div class="enquiry-form">
    <form class="enq-search" action="/enquiry" method="post">
        <div>
            <label for="">Name</label><br>
            <input type="text" name="fname">
        </div>
        <div>
            <label for="">Address</label><br>
            <input type="text" name="address"><br>
        </div>
        <div>
            <input class="search-btn" type="submit">
        </div>
        
       
        
    </form>

    <table>
        <thead>
            <th>Name</th>
            <th>Problem</th>
            <th>Address</th>
        </thead>
    
        <% records.forEach(function(entry){ %>
            <tr>
                <td><%= entry.fname %></td>
                <td><%= entry.problem %></td>
                <td><%= entry.address %></td>
            </tr>
    
        <% }); %>
    </table>
</div>

</section>





<%- include("footer") -%>